<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Front Office</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <!-- <script src="//code.jquery.com/jquery-3.6.0.min.js"></script> -->
  <link rel="stylesheet" href="../stylesheets/nav.css">
  <link rel="stylesheet" href="../stylesheets/booking.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"
    integrity="sha256-hlKLmzaRlE8SCJC1Kw8zoUbU8BxA+8kR3gseuKfMjxA=" crossorigin="anonymous"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>

<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-md navbar-dark br-primary">

    <!-- navbar content -->
    <div class="container-fluid" id="nav-container">

      <!-- navbar logo -->
      <a class="navbar-brand" href="#" aria-hidden="true" tabindex="-1">
        <img src="../images/logo.png" class="logo">
      </a>

      <!-- navbar toggle -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navElements"
        aria-controls="navElements" aria-expanded="false" aria-label="Mostra navigazione">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- navbar navigation -->
      <div class="collapse navbar-collapse" id="navElements">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="nav-list">
          <li class="nav-item">
            <a class="link" href="/nnplus/home" aria-label="Pagina Clienti" aria-current="page">Clienti</a>
          </li>
          <li class="nav-item">
            <a class="link" href="/nnplus/home/inventory" aria-label="Pagina Inventario">Inventario</a>
          </li>
          <li class="nav-item">
            <a class="link active-nav" href="/nnplus/home/booking" aria-label="Pagina Gestione">Noleggi</a>
          </li>
          <li class="nav-item">
            <a class="link" href="/nnplus/logout" aria-label="Effettua il log out">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main>

    <!-- tab navigation -->

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link main-nav active" id="addPill" data-bs-toggle="pill" data-bs-target="#addTab"
          type="button" role="tab" aria-controls="addTab" aria-selected="true">Aggiungi prenotazioni</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link main-nav" id="managePill" data-bs-toggle="pill" data-bs-target="#manageTab"
          type="button" role="tab" aria-controls="manageTab" aria-selected="false">Gestione prenotazioni</button>
      </li>
    </ul>

    <!-- main container -->

    <div class="contaier-fluid" id="main-container">

      <!-- tab container -->

      <div class="tab-content" id="pills-tabContent">





        <!-- add tab -->

        <div class="tab-pane fade show active" id="addTab" role="tabpanel" aria-labelledby="addPill">
          <h5>Crea una nuova prenotazione</h5>
          <form id="addForm" autocomplete="off">
            <div id="formElements">
              <h6>Compila i seguenti campi: </h6>
              <div>
                <label for="addUser">Inserisci l'email dell'utente:</label>
                <input type="email" name="addUser" id="addUser" placeholder="mario.rossi@gmail.com">
              </div>
              <div>
                <label for="addStartDate">Scegli la data dell'inizio della prenotazione:</label>
                <input type="date" name="addStartDate" id="addStartDate">
              </div>
              <div>
                <label for="addEndDate">Scegli la data di fine della prenotazione:</label>
                <input type="date" name="addEndDate" id="addEndDate">
              </div>
              <div>
                <label for="addComputer">Seleziona tra i computer disponibili:</label>
                <input type="text" name="addComputer" id="addComputer" placeholder="61cefc5571b8ab09de86ad07">
                <a id="showItem" class="btn btn-secondary" style="width: fit-content;">Mostra</a>
              </div>
              <button id="evalBtn" type="button" class="btn btn-warning" style="width:100%;">Calcola</button>

              <div id="bookingPreview" hidden="true">
                <div id="infoContainer">
                  <div id="us<erInfo">
                    <b>Utente: </b><span>Mario Rossi</span>
                  </div>
                  <div id="itemInfo">
                    <b>Computer: </b><span>DELL LEGION</span>
                  </div>
                  <div id="beginInfo">
                    <b>Inizio: </b><span>DELL LEGION</span>
                  </div>
                  <div id="endInfo">
                    <b>Fine: </b><span>DELL LEGION</span>
                  </div>
                </div>
                <h6>Anteprima prezzo: </h6>
                <ul>
                </ul>
                <div id="pointsContainer">
                  <label for="userPoints">Punti utente </label>
                  <select name="userPoints" id="userPoints">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                  </select>
                  <button id="pointsBtn" type="button" class="btn btn-success">Consuma</button>
                </div>
                <div id="customDiscount">
                  <input id="discountReason" type="text" placeholder="Causale sconto">
                  <input id="discountAmount" type="number" placeholder="Importo" value="0" step="0.01">
                </div>

                <button id="addDiscountBtn" type="button" class="btn btn-success">Aggiungi sconto</button>
                <div id="noteContainer">
                  <label for="addNote">note:</label>
                  <textarea name="addNote" id="addNote"></textarea>
                </div>
                <button id="addBtn" type="submit" class="btn btn-primary">Crea noleggio</button>
              </div>
            </div>
          </form>

        </div>


        <!-- manage tab -->

        <div class="tab-pane fade" id="manageTab" role="tabpanel" aria-labelledby="managePill">
          <h5>Gestisci prenotazioni</h5>

          <!-- top container, containing search and filter checkbox -->
          <div id="topContainer">

            <!-- search form -->

            <form id="searchBookingForm">
              <input class="form-control" placeholder="Mail utente" type="text" id='searchUser'>
              <button class="btn btn-primary" id="searchBtn">Cerca prenotazioni</button>
            </form>

            <!-- filter form -->

            <form id="filterBookingForm">

              <!-- future bookings checkbox -->

              <div class="searchFilter">
                <input class="form-check-input" type="checkbox" id="futureBookings">
                <label class="form-check-label" for="futureBookings">Prenotazioni future</label>
              </div>

              <!-- current booking checkbox -->

              <div class="searchFilter">
                <input class="form-check-input" type="checkbox" id="currentBookings">
                <label class="form-check-label" for="currentBookings">Prenotazioni correnti</label>
              </div>

              <!-- past bookings checkbox -->

              <div class="searchFilter">
                <input class="form-check-input" type="checkbox" id="pastBookings">
                <label class="form-c  eck-label" for="pastBookings">Prenotazioni passate</label>
              </div>
              <button class="btn btn-primary">Applica filtri</button>
            </form>
          </div>

          <!-- booking itemns container -->

          <div class="bookingContainer">


            <!-- booking list -->

            <ul id="bookingList">

              <!-- single booking element -->

              <!-- ITs COLOR CHANGES BASED ON THE STATUS OF THE BOOKING -->
              <!-- EVERY ITEM SHOULD BE IDENTIFIED WITH THE BOOKING CODE, POSSIBLY WRITTEN IN A CLASS -->

              <li class="bookingElement">
                <div class="infoGroup">
                  <div class="computerModel">
                    <span class="labelTag">Computer: </span>
                    <div>Dell XPS</div>
                  </div>
                  <div class="computerModel">
                    <span class="labelTag">Utente: </span>
                    <div class="text-capitalize">bento bunto</div>
                  </div>
                  <div class="startDate">
                    <span class="labelTag">Inizio: </span>
                    <div>19/02/2012</div>
                  </div>
                  <div class="endDate">
                    <span class="labelTag">Fine: </span>
                    <div>22/02/2012</div>
                  </div>
                  <div class="finalPrice">
                    <span class="labelTag">Prezzo totale: </span>
                    <div>25.50$</div>
                  </div>
                </div>
                <div class="buttonGroup">
                  <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal">Modifica</button>
                  <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Cancella</button>
                </div>
              </li>

              <!-- single booking element -->

              <li class="bookingElement" style="background-color:rgba(255, 255, 0, 0.507);">
                <div class="infoGroup">
                  <div class="computerModel">
                    <span class="labelTag">Computer: </span>
                    <div>Dell XPS</div>
                  </div>
                  <div class="computerModel">
                    <span class="labelTag">Utente: </span>
                    <div class="text-capitalize">bento bunto</div>
                  </div>
                  <div class="startDate">
                    <span class="labelTag">Inizio: </span>
                    <div>19/02/2012</div>
                  </div>
                  <div class="endDate">
                    <span class="labelTag">Fine: </span>
                    <div>22/02/2012</div>
                  </div>
                  <div class="finalPrice">
                    <span class="labelTag">Prezzo totale: </span>
                    <div>25.50$</div>
                  </div>
                </div>
                <div class="buttonGroup">
                  <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#returnModal">Consegna</button>
                </div>
              </li>

              <!-- single booking element -->

              <li class="bookingElement" style="background-color:rgba(255, 0, 0, 0.507);">
                <div class="infoGroup">
                  <div class="computerModel">
                    <span class="labelTag">Computer: </span>
                    <div>Dell XPS</div>
                  </div>
                  <div class="computerModel">
                    <span class="labelTag">Utente: </span>
                    <div class="text-capitalize">bento bunto</div>
                  </div>
                  <div class="startDate">
                    <span class="labelTag">Inizio: </span>
                    <div>19/02/2012</div>
                  </div>
                  <div class="endDate">
                    <span class="labelTag">Fine: </span>
                    <div>22/02/2012</div>
                  </div>
                  <div class="finalPrice">
                    <span class="labelTag">Prezzo totale: </span>
                    <div>25.50$</div>
                  </div>
                </div>
                <div class="buttonGroup">
                  <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#returnModal">Consegna</button>
                </div>
              </li>

              <!-- single booking element -->

              <li class="bookingElement" style="background-color:rgba(105, 105, 105, 0.562);">
                <div class="infoGroup">
                  <div class="computerModel">
                    <span class="labelTag">Computer: </span>
                    <div>Dell XPS</div>
                  </div>
                  <div class="computerModel">
                    <span class="labelTag">Utente: </span>
                    <div class="text-capitalize">bento bunto</div>
                  </div>
                  <div class="startDate">
                    <span class="labelTag">Inizio: </span>
                    <div>19/02/2012</div>
                  </div>
                  <div class="endDate">
                    <span class="labelTag">Fine: </span>
                    <div>22/02/2012</div>
                  </div>
                  <div class="finalPrice">
                    <span class="labelTag">Prezzo totale: </span>
                    <div>25.50$</div>
                  </div>
                </div>
                <div class="buttonGroup">
                  <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Cancella</button>
                </div>
              </li>

              <li class="bookingElement" style="background-color:rgba(0, 132, 255, 0.685);">
                <div class="infoGroup">
                  <div class="computerModel">
                    <span class="labelTag">Computer: </span>
                    <div>Dell XPS</div>
                  </div>
                  <div class="computerModel">
                    <span class="labelTag">Utente: </span>
                    <div class="text-capitalize">bento bunto</div>
                  </div>
                  <div class="startDate">
                    <span class="labelTag">Inizio: </span>
                    <div>19/02/2012</div>
                  </div>
                  <div class="endDate">
                    <span class="labelTag">Fine: </span>
                    <div>22/02/2012</div>
                  </div>
                  <div class="finalPrice">
                    <span class="labelTag">Prezzo totale: </span>
                    <div>25.50$</div>
                  </div>
                </div>
                <div class="buttonGroup">
                  <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#receiptModal">Mostra
                    ricevuta</button>
                </div>
              </li>

              <li class="bookingElement" style="background-color:rgba(0, 0, 0, 0.801);">
                <div class="infoGroup">
                  <div class="computerModel">
                    <span class="labelTag">Computer: </span>
                    <div>Dell XPS</div>
                  </div>
                  <div class="computerModel">
                    <span class="labelTag">Utente: </span>
                    <div>Bento Bunto</div>
                  </div>
                  <div class="startDate">
                    <span class="labelTag">Inizio: </span>
                    <div>19/02/2012</div>
                  </div>
                  <div class="endDate">
                    <span class="labelTag">Fine: </span>
                    <div>22/02/2012</div>
                  </div>
                  <div class="finalPrice">
                    <span class="labelTag">Prezzo totale: </span>
                    <div>25.50$</div>
                  </div>
                </div>
                <div class="buttonGroup">

                </div>
              </li>

            </ul>


          </div>
        </div>


        <!-- Edit booking Modal -->

        <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="editTitle" tabindex="0">Modifica noleggio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Chiudi"></button>
              </div>
              <div class="modal-body">
                <form id='editForm'>

                  <div>
                    <span class="labelTag">Modello:</span>
                    <span id="editComputer" class="capitalize">Dell XPS</span>
                  </div>
                  <div>
                    <span class="labelTag">E-mail utente:</span>
                    <span id="editMail">bento@bunto</span>

                  </div>
                  <div>
                    <span class="labelTag">Data inizio:</span>
                    <input id="editStartDate" type="date">
                  </div>
                  <div>
                    <span class="labelTag">Data fine:</span>
                    <input id="editEndDate" type="date">
                  </div>
                  <div>
                    <span class="labelTag">Prezzo finale:</span>
                    <input id="editPrice" value="55.26" type="number" step="0.01">
                  </div>
                  <div>
                    <span class="labelTag">Sconti:</span>
                    <div>
                      <ul class="editDiscounts">
                        <li>
                          <div>Sconto buona condotta</div>
                          <div>9.84$</div>
                        </li>
                        <li>
                          <div>Sconto dispositivo</div>
                          <div>2.23$</div>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div>
                    <span class="labelTag">Punti consumati:</span>
                    <select id="editPoints">
                      <option value="0">0</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                    </select>
                  </div>

                  <div>
                    <span class="labelTag">Restituito:</span>
                    <span id="editReturned">Si</span>

                  </div>
                  <div>
                    <span class="labelTag">Pagato:</span>
                    <span id="editPayed">Si</span>
                  </div>

                  <div>
                    <span class="labelTag">Ritardi:</span>
                    <span id="editLate">No</span>
                  </div>

                  <div>
                    <span class="labelTag">Note per modifica corrente:</span>
                    <textarea id="editNote" rows="4"></textarea>
                  </div>

                </form>
              </div>
              <div class="modal-footer">
                <button type="submit" id="editBtn" form="editForm" class="btn btn-primary">Salva
                  Modifiche</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Receipt Modal -->

        <div class="modal fade" id="receiptModal" tabindex="-1" aria-labelledby="receiptTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="editTitle" tabindex="0">Ricevuta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Chiudi"></button>
              </div>
              <div class="modal-body">
                <section id='receiptSection'>

                  <div class="mb-3" id="receiptDates">
                    <div class="border rounded p-1">
                      <span class="fw-bold">Data inizio:</span>
                      <span id="receiptStartDate">2021-10-15</span>
                    </div>
                    <div class="border rounded p-1">
                      <span class="fw-bold">Data fine:</span>
                      <span id="receiptStartDate">2021-10-20</span>
                    </div>
                  </div>

                  <div>
                    <span class="fw-bold">Modello:</span>
                    <span id="receiptComputer">Dell XPS</span>
                  </div>

                  <div class="mb-3">
                    <span class="fw-bold">Utente:</span>
                    <span id="receiptUser">bento@bunto</span>
                  </div>

                  <div>
                    <span>Numero di giorni:</span>
                    <span id="receiptDays">5</span>
                  </div>

                  <div class="border-bottom">
                    <span>Prezzo giornaliero</span>
                    <span id="receiptDailyPrice">10$</span>
                  </div>

                  <div class="mb-3">
                    <span class="fw-bold">Prezzo iniziale:</span>
                    <span id="receiptStartPrice">50$</span>
                  </div>

                  <div id="receiptDiscountStart">
                    <span>Sconto punti:</span>
                    <span id="receiptPointValue">-3$</span>
                  </div>

                  <div>
                    <span class="text-capitalize">sconto dispositivo:</span>
                    <span>-6.50$</span>
                  </div>
                  <div class="border-bottom">
                    <span class="text-capitalize">sconto buona condotta:</span>
                    <span>-6.50$</span>
                  </div>


                  <div class="mb-3">
                    <span class="fw-bold">Prezzo finale:</span>
                    <span id="receiptFinalPrice">35$</span>
                  </div>


                </section>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
              </div>
            </div>
          </div>
        </div>

        <!-- return Modal -->

        <div class="modal fade" id="returnModal" tabindex="-1" aria-labelledby="returnTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="returnTitle" tabindex="0">Certifica riconsegna</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Chiudi"></button>
              </div>
              <div class="modal-body">
                <form id="returnForm">
                  <div>
                    <span>Certifichi la riconsegna?</span>
                    <input type="checkbox" id="returnCheck">
                  </div>
                  <div>
                    <span>Certifichi il pagamento?</span>
                    <input type="checkbox" id="payCheck">
                  </div>
                  <div>
                    <span>
                      Come valuteresti la condizione del computer?
                    </span>
                    <select id="finalCondition">
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                    </select>
                  </div>

                </form>
              </div>
              <div class="modal-footer">
                <button type="submit" id="returnSubmit" form="returnForm" class="btn btn-primary">Certifica</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
              </div>
            </div>
          </div>
        </div>


        <!-- Delete Modal -->

        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteTitle" tabindex="0">Elimina noleggio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Chiudi"></button>
              </div>
              <div class="modal-body">
                <span tabindex="0">Sei sicuro di voler eliminare questo noleggio?</span>
              </div>
              <div class="modal-footer">
                <button type="button" id="deleteBtn" class="btn btn-primary" data-bs-dismiss="modal">Conferma
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </main>

  <script src="../scripts/booking.js"></script>

</body>

</html>