<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- <script type="text/javascript" src="scripts/auth.js"></script> -->
    <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/login.css" media="screen" />
    <title>back_office</title>
  </head>
  <body>
    <div class="home">
      <div class="heading">
        <h2>Log in</h2>
        <form id='myForm'>

          <div class="input-group input-group-lg">
            <p>Respond with Home html</p>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
