<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Front Office</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <!-- <script src="//code.jquery.com/jquery-3.6.0.min.js"></script> -->
  <link rel="stylesheet" href="../stylesheets/nav.css">
  <link rel="stylesheet" href="../stylesheets/inventory.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"
    integrity="sha256-hlKLmzaRlE8SCJC1Kw8zoUbU8BxA+8kR3gseuKfMjxA=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">

  <!-- <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>

<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-md navbar-dark br-primary">

    <!-- navbar content -->
    <div class="container-fluid" id="nav-container">

      <!-- navbar logo -->
      <a class="navbar-brand" href="#" aria-hidden="true" tabindex="-1">
        <img src="../images/logo.png" class="logo">
      </a>

      <!-- navbar toggle -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navElements"
        aria-controls="navElements" aria-expanded="false" aria-label="Mostra navigazione">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- navbar navigation -->
      <div class="collapse navbar-collapse" id="navElements">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="nav-list">
          <li class="nav-item">
            <a class="link" href="/nnplus/home" aria-label="Pagina Clienti" aria-current="page">Clienti</a>
          </li>
          <li class="nav-item">
            <a class="link active-nav" href="/nnplus/home/inventory" aria-label="Pagina Inventario">Inventario</a>
          </li>
          <li class="nav-item">
            <a class="link" href="/nnplus/home/booking" aria-label="Pagina Gestione">Noleggi</a>
          </li>
          <li class="nav-item">
            <a class="link" href="/nnplus/logout" aria-label="Effettua il log out">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- main content -->

  <main>

    <div class="contaier-fluid" id="main-container">

      <!-- search and filter container -->

      <div id="controls">
        <div id="searchContainer">
          <input type="text" id="searchText" placeholder="Rif del computer">
          <button class="btn btn-primary" id="searchBtn">Cerca</button>
        </div>
        <button class="btn btn-primary" type="button" aria-label="aggiungi un nuovo computer" data-bs-toggle="modal"
          data-bs-target="#addModal" data-origin="add">Aggiungi computer</button>
        <button class="btn btn-success" id="bulkDiscountBtn" data-bs-toggle="modal"
          data-bs-target="#discountModal">Sconta
          visualizzati</button>
        <button class="btn btn-warning" id="resetBtn">Reset</button>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#filters"
          aria-label="mostra filtri" aria-expanded="false" aria-controls="filters">Filtra</button>
      </div>

      <!-- filters container -->

      <div class="collapse" id="filters">
        <div class="row d-flex justify-content-start">
          <div class="col-lg-3 col-md-4 col-sm-5 filter-list" data-filter="brand">
            <h6>Marca</h6>
            <ul>

            </ul>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-5 filter-list" data-filter="type">
            <h6>Tipo</h6>
            <ul>

            </ul>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-5 filter-list" data-filter="cpu">
            <h6>Processore</h6>
            <ul>

            </ul>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-5 filter-list" data-filter="gpu">
            <h6>Scheda grafica</h6>
            <ul>
            </ul>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-5 filter-list" data-filter="ram">
            <h6>Memoria</h6>
            <ul>
            </ul>
          </div>
          <div class="col-lg-5 col-md-6 col-sm-7 filter-list" id="pricePicker">
            <h6>Prezzo: </h6>
            <div>
              <div>
                <label for="minPrice">Minimo:</label>
                <input type="range" name="minPrice" id="minPrice" step="0.01"
                  oninput="this.nextElementSibling.innerHTML = this.value">
                <span class="border rounded p-1" id="minRangeVal"></span>
              </div>
              <div>
                <label for="maxPrice">Massimo:</label>
                <input type="range" name="maxPrice" id="maxPrice" step="0.01"
                  oninput="this.nextElementSibling.innerHTML = this.value">
                <span class="border rounded p-1" id="maxRangeVal"></span>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-primary" id="filterBtn">Applica</button>
        <button class="btn btn-warning" id="clearFilterBtn">Pulisci filtri</button>
      </div>

      <!-- items container -->

      <div class="items-list">

        <!-- items single row -->
        <div id="itemsContainer" class="row d-flex justify-content-center align-items-start">

          <!-- single item -->
          <div class="item-instance col-lg-2 col-md-3 col-sm-4">
            <div class="card">
              <img class="card-img-top"
                src="https://cdn.veloce.it/wp-content/uploads/2021/05/Beau-Lake-Tahoe-Pedal-Boat-14-3.jpg" alt=""
                srcset="">
              </img>
              <div class="card-body">
                <h5 class="card-title" tabindex="0">
                  <div class="brand-card">DELL</div>
                  <div class="model-card">LEGION</div>
                </h5>
                <div class="info-card">
                  <ul class="info-card-list">
                    <li>
                      <div class="info">
                        <b>Tipo: </b>
                        <div class="types-card set-scroll">
                          <ul>
                            <li>gaming</li>
                            <li>ultrabook</li>
                            <li>gaming</li>
                            <li>gaming</li>
                            <li>gaming</li>
                          </ul>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="info">
                        <b>Processore:</b>
                        <span class="cpu-card">intel i7-11000k 3.5ghz</span>
                      </div>
                    </li>
                    <li>
                      <div class="info">
                        <b>Scheda grafica:</b>
                        <span class="gpu-card">nvidia rtx 3060 12gb</span>
                      </div>
                    </li>
                    <li>
                      <div class="info">
                        <b>Memoria:</b>
                        <span class="ram-card">16gb 2666mhz</span>
                      </div>
                    </li>
                    <li>
                      <div class="info">
                        <b>Condizione:</b>
                        <span class="condition-card">7/10</span>
                      </div>
                    </li>
                    <li>
                      <div class="info">
                        <b>Prezzo:</b>
                        <span class="price-card">65$/giorno</span>
                      </div>
                    </li>
                    <li>
                      <div class="text-container">
                        <b>Descrizione:</b>
                        <span class="desc-card text-card set-scroll">Lorem, ipsum dolor sit amet consectetur
                          adipisicing elit.
                          Repudiandae
                          qui, esse et exercitationem quam ipsum animi. Quo minus, sed consequatur, molestiae
                          exercitationem maxime natus, adipisci doloremque dicta porro voluptas cumque quos voluptatibus
                          est molestias in placeat. Nemo, repellat, expedita, tempora ex adipisci illo aspernatur iste
                          similique itaque tempore consectetur earum?</span>
                      </div>
                    </li>
                    <div class="text-container">
                      <b>Note:</b>
                      <span class="note-card text-card set-scroll">Lorem, ipsum dolor sit amet consectetur
                        adipisicing elit.
                        Repudiandae
                        qui, esse et exercitationem quam ipsum animi. Quo minus, sed consequatur, molestiae
                        exercitationem maxime natus, adipisci doloremque dicta porro voluptas cumque quos voluptatibus
                        est molestias in placeat. Nemo, repellat, expedita, tempora ex adipisci illo aspernatur iste
                        similique itaque tempore consectetur earum?</span>
                    </div>
                    </li>
                  </ul>

                  <div class="card-buttons">
                    <button class="btn btn-primary">Cambia informazioni</button>
                    <button class="btn btn-danger">Elimina</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="item-instance col-lg-2 col-md-3 col-sm-4">
            <div class="card">
              <img class="card-img-top"
                src="https://cdn.veloce.it/wp-content/uploads/2021/05/Beau-Lake-Tahoe-Pedal-Boat-14-3.jpg" alt=""
                srcset="">
              </img>
              <div class="card-body">
                <h5 class="card-title" tabindex="0">
                  <div class="brand-card">DELL</div>
                  <div class="model-card">LEGION</div>
                </h5>
                <div class="info-card">
                  <ul class="info-card-list">
                    <li>
                      <div class="info">
                        <b>Tipo: </b>
                        <div class="types-card set-scroll">
                          <ul>
                            <li>gaming</li>
                            <li>ultrabook</li>
                            <li>gaming</li>
                            <li>gaming</li>
                            <li>gaming</li>
                          </ul>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="info">
                        <b>Processore:</b>
                        <span class="cpu-card">intel i7-11000k 3.5ghz</span>
                      </div>
                    </li>
                    <li>
                      <div class="info">
                        <b>Scheda grafica:</b>
                        <span class="gpu-card">nvidia rtx 3060 12gb</span>
                      </div>
                    </li>
                    <li>
                      <div class="info">
                        <b>Memoria:</b>
                        <span class="ram-card">16gb 2666mhz</span>
                      </div>
                    </li>
                    <li>
                      <div class="info">
                        <b>Condizione:</b>
                        <span class="condition-card">7/10</span>
                      </div>
                    </li>
                    <li>
                      <div class="info">
                        <b>Prezzo:</b>
                        <span class="price-card">65$/giorno</span>
                      </div>
                    </li>
                    <li>
                      <div class=" text-container">
                        <b>Descrizione:</b>
                        <span class="desc-card text-card set-scroll">Lorem, ipsum dolor sit amet consectetur
                          adipisicing elit.
                          Repudiandae
                          qui, esse et exercitationem quam ipsum animi. Quo minus, sed consequatur, molestiae
                          exercitationem maxime natus, adipisci doloremque dicta porro voluptas cumque quos voluptatibus
                          est molestias in placeat. Nemo, repellat, expedita, tempora ex adipisci illo aspernatur iste
                          similique itaque tempore consectetur earum?</span>
                      </div>
                    </li>
                    <div class="text-container">
                      <b>Note:</b>
                      <span class="note-card text-card set-scroll">Lorem, ipsum dolor sit amet consectetur
                        adipisicing elit.
                        Repudiandae
                        qui, esse et exercitationem quam ipsum animi. Quo minus, sed consequatur, molestiae
                        exercitationem maxime natus, adipisci doloremque dicta porro voluptas cumque quos voluptatibus
                        est molestias in placeat. Nemo, repellat, expedita, tempora ex adipisci illo aspernatur iste
                        similique itaque tempore consectetur earum?</span>
                    </div>
                    </li>
                  </ul>

                  <div class="card-buttons">
                    <button class="btn btn-primary">Cambia informazioni</button>
                    <button class="btn btn-danger">Elimina</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
  </main>

  <!-- add item modal -->
  <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addTitle" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addTitle"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Chiudi"></button>
        </div>
        <div class="modal-body">
          <form id="addForm">
            <section class="modal-elements">
              <div>
                <b><label for="addImage">Immagine: </label></b>
                <br>
                <input type="file" name="addImage" id="addImage" accept=".jpg, .jpeg, .png" required>
              </div>
              <div>
                <b><label for="addBrand">Marca: </label></b><br>
                <input type="text" name="addBrand" id="addBrand" required>
              </div>
              <div>
                <b><label for="addModel">Modello: </label></b><br>
                <input type="text" name="addModel" id="addModel" required>
              </div>
              <div>
                <b><label for="addType">Tipo: </label></b><br>
                <input type="text" name="addType" id="addType" required>
              </div>
              <div>
                <b><label for="addCpu">Processore: </label></b><br>
                <input type="text" name="addCpu" id="addCpu" required>
              </div>
              <div>
                <b><label for="addGpu">Scheda grafica: </label></b><br>
                <input type="text" name="addGpu" id="addGpu" required>
              </div>
              <div>
                <b><label for="addRam">Memoria: </label></b><br>
                <input type="text" name="addRam" id="addRam" required>
              </div>
              <div>
                <b><label for="addPrice">Prezzo:</label></b><br>
                <input type="number" name="addPrice" id="addPrice" step="0.01" required>
              </div>
              <div>
                <b><label for="addDiscount">Sconto:</label></b><br>
                <input type="number" name="addDiscount" id="addDiscount" step="1" value="0" max="100" required>
              </div>
              <div>
                <b><label for="addDescr">Descrizione:</label></b>
                <textarea name="addDescr" id="addDescr" rows="5" required></textarea>
              </div>
              <div>
                <b><label for="addCondition">Condizione: <span data-bs-toggle="tooltip" data-bs-placement="top"
                      title="5=Molto usato 10=Nuovo">ⓘ</span></label>
                </b>
                <input type="range" name="addCondition" id="addCondition" min="5" max="10" value="5">
                <span id="rangeValue" class="border rounded p-1">5</span>
              </div>
              <div>
                <b><label for="addNote">Note:</label></b>
                <textarea name="addNote" id="addNote" rows="2"></textarea>
              </div>
            </section>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" id="addButton" form="addForm" class="btn btn-primary">Aggiungi</button>
          <button id="addModalCloseBtn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Modal -->

  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteTitle" tabindex="0">Elimina computer</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Chiudi"></button>
        </div>
        <div class="modal-body">
          <section class="userModal">
            <span tabindex="0">Sei sicuro di voler eliminare il computer?</span>
          </section>
        </div>
        <div class="modal-footer">
          <button type="button" id="confirmBtn" class="btn btn-primary" data-bs-dismiss="modal">Conferma
          </button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
        </div>
      </div>
    </div>
  </div>

  <!-- image Modal -->

  <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="deleteTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteTitle" tabindex="0">Elimina computer</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Chiudi"></button>
        </div>
        <div class="modal-body">
          <section class="userModal">
            <span tabindex="0">Sei sicuro di voler eliminare il computer?</span>
          </section>
        </div>
        <div class="modal-footer">
          <button type="button" id="confirmBtn" class="btn btn-primary" data-bs-dismiss="modal">Conferma
          </button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Discount Modal -->

  <div class="modal fade" id="discountModal" tabindex="-1" aria-labelledby="discountTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="discountTitle" tabindex="0">Sconta computer</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Chiudi"></button>
        </div>
        <div class="modal-body">
          <div id="discountList">
            <h6>Stai per scontare i seguenti computer:</h6>
            <ul>
            </ul>
            <label for="bulkDiscountRange">Inserisci il nuovo sconto:</label><br>
            <input value="0" type="range" min="0" max="100" step="1" name="bulkDiscountRange" id="bulkDiscountRange"
              oninput="this.nextElementSibling.innerHTML = this.value">
            <span class="border rounded p-1">0</span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="confirmDiscountBtn" class="btn btn-primary">Conferma
          </button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Booking modal -->
  <div class="modal fade" id="bookingModal" tabindex="-1" aria-labelledby="bookingTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="bookingTitle" tabindex="0">Noleggia computer</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Chiudi"></button>
        </div>
        <div class="modal-body">
          <form id="addBookingForm" autocomplete="off">
            <div id="formElements">
              <h6>Compila i seguenti campi: </h6>
              <div>
                <label for="addUser">Inserisci l'email dell'utente:</label>
                <input type="email" name="addUser" id="addUser" placeholder="mario.rossi@gmail.com">
              </div>
              <div>
                <label for="addStartDate">Scegli la data dell'inizio della prenotazione:</label>
                <input type="text" name="addStartDate" id="addStartDate">
              </div>
              <div>
                <label for="addEndDate">Scegli la data di fine della prenotazione:</label>
                <input type="text" name="addEndDate" id="addEndDate">
              </div>
              <div>
                <label for="addComputer">Computer selezionato:</label>
                <input type="text" name="addComputer" id="addComputer" disabled>
              </div>
              <button id="evalBtn" type="button" class="btn btn-warning" style="width:100%;">Calcola</button>

              <div id="bookingPreview" hidden="true">
                <div id="infoContainer">
                  <div id="userInfo">
                    <b>Utente: </b><span>Mario Rossi</span>
                  </div>
                  <div id="itemInfo">
                    <b>Computer: </b><span>DELL LEGION</span>
                  </div>
                  <div id="beginInfo">
                    <b>Inizio: </b><span>DELL LEGION</span>
                  </div>
                  <div id="endInfo">
                    <b>Fine: </b><span>DELL LEGION</span>
                  </div>
                </div>
                <h6>Anteprima prezzo: </h6>
                <ul>
                </ul>
                <div id="pointsContainer">
                  <label for="userPoints">Punti utente </label>
                  <select name="userPoints" id="userPoints">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                  </select>
                  <button id="pointsBtn" type="button" class="btn btn-success">Consuma</button>
                </div>
                <div id="customDiscount">
                  <input id="discountReason" type="text" placeholder="Causale sconto">
                  <input id="discountAmount" type="number" placeholder="Importo" value="0" step="0.01">
                </div>

                <button id="addDiscountBtn" type="button" class="btn btn-success">Aggiungi sconto</button>
                <div id="noteContainer">
                  <label for="addNote">note:</label>
                  <textarea name="addNote" id="addNote"></textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button id="addBookingBtn" form="addBookingForm" type="submit" class="btn btn-primary disabled">Crea
            noleggio</button>

          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
        </div>
      </div>
    </div>
  </div>

  <script src="../scripts/inventory.js"></script>
  <script>
    document.getElementById('addCondition').addEventListener('change', (event) => {
      document.getElementById('rangeValue').innerHTML = event.target.value
    })

    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
  </script>
</body>

</html>