<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Front Office</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <!-- <script src="//code.jquery.com/jquery-3.6.0.min.js"></script> -->
  <link rel="stylesheet" href="./stylesheets/users.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>

<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-md navbar-dark br-primary">

    <!-- navbar content -->
    <div class="container-fluid" id="nav-container">

      <!-- navbar logo -->
      <a class="navbar-brand" href="#" aria-hidden="true" tabindex="-1">
        <img src="./images/logo.png" class="logo">
      </a>

      <!-- navbar toggle -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navElements"
        aria-controls="navElements" aria-expanded="false" aria-label="Mostra e nascondi navigazione">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- navbar navigation -->
      <div class="collapse navbar-collapse" id="navElements">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="nav-list">
          <li class="nav-item">
            <a class="link active-nav" href="http://localhost:8000/nnplus/home" aria-label="Pagina Clienti"
              aria-current="page">Clienti</a>
          </li>
          <li class="nav-item">
            <a class="link" href="http://localhost:8000/nnplus/home/inventory"
              aria-label="Pagina Inventario">Inventario</a>
          </li>
          <li class="nav-item">
            <a class="link" href="#" aria-label="Pagina Gestione">Noleggi</a>
          </li>
          <li class="nav-item">
            <a class="link" href="#" aria-label="Pagina log in">Log In</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



  <!-- main content -->
  <main>

    <!-- add and search customer -->
    <div class="container-fluid" id="main-container">
      <div class="container-fluid" id="interact-container">
        <form id="idSearch">
          <label id="textboxInfo" class="visually-hidden">Scrivi il codice cliente</label>
          <div id="searchBox">
            <select id="searchType" aria-label="Seleziona criterio di ricerca">
              <option value="mail">mail</option>
              <option value="user">Nome Cognome</option>
            </select>
            <input type="text" aria-label="Inserisci il criterio di ricerca" id="customerSearch" required
              aria-required="true">
          </div>
          <button class="btn btn-primary " type="submit">Cerca cliente</button>
        </form>
        <button class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#addModal">Aggiungi
          cliente</button>
        <button class="btn btn-warning" id="resetBtn" aria-label="reimposta lista dei clienti">Reset</button>
      </div>

      <!-- customer list container -->
      <div class="" id="customerContainer">

        <!-- consumer list -->
        <ul class="customer-list" id="customerList">

          <!-- consumer element -->
          <li class="customer-element">
            <div class="customer-info">
              <div class="no-btns">
                <span class="name" tabindex="0">Franco Franchi</span>
                <div class="detail">
                  <span class="id">25656</span>
                </div>
                <div class="detail">
                  <span class="status">Noleggiato</span>
                </div>
              </div>

              <div class="customer-btn">
                <button class="btn btn-primary info-btn" data-bs-toggle="modal" data-bs-target="#infoModal">mostra
                  informazioni</button>
                <button class="btn btn-primary edit-btn" data-bs-toggle="modal" data-bs-target="#editModal">cambia
                  informazioni</button>
                <button class="btn btn-primary feedback-btn">dai feedback</button>
              </div>
            </div>
          </li>

          <li class="customer-element">
            <div class="customer-info">
              <span class="name" tabindex="0">alessndro gueltieri</span>
              <div class="detail">
                <span class="id">25656</span>
              </div>
              <div class="detail">
                <span class="status">Noleggiato</span>
              </div>
              <div class="customer-btn">
                <button class="btn btn-primary info-btn" data-bs-toggle="modal" data-bs-target="#infoModal">mostra
                  informazioni</button>
                <button class="btn btn-primary edit-btn" data-bs-toggle="modal" data-bs-target="#editModal">cambia
                  informazioni</button>
                <button class="btn btn-primary feedback-btn" data-bs-toggle="modal" data-bs-target="#feedModal">dai
                  feedback</button>
              </div>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </main>

  <!-- information Modal -->

  <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="infoTitle" tabindex="0">Dettagli Utente</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Chiudi"></button>
        </div>
        <div class="modal-body">
          <section class="userModal">
            <div tabindex="0">
              <b>Nome: </b><span id="infoModalName">Mario</span>
            </div>
            <div tabindex="0">
              <b>Cognome: </b><span id="infoModalSurname">Rossi</span>
            </div>
            <div tabindex="0">
              <b>Data di Nascita: </b><input type="date" id="infoModalBirth" readonly></input>
            </div>
            <div tabindex="0">
              <b>E-mail: </b><span id="infoModalMail">mario_rossi@gmail.com</span>
            </div>
            <div tabindex="0">
              <b>Status: </b><span id="infoModalStatus">noleggiato</span>
            </div>
            <div tabindex="0" aria-label="lista dei feedback">
              <h6 id="infoModalFeedback">Feedback:</h6>
              <ul id="infoFeedBackList">

              </ul>
              </span>
            </div>
          </section>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Information Modal -->

  <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editTitle" tabindex="0">Modifica Dettagli Utente</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Chiudi"></button>
        </div>
        <div class="modal-body">
          <form id='editForm'>
            <section class="userModal">
              <div>
                <b>Nome: </b>
                <input type="text" aria-label="modifica il nome" id="editModalName" required>
              </div>
              <div>
                <b>Cognome:</b>
                <input type="text" aria-label="modifica il cognome" id="editModalSurname" required>
              </div>
              <div>
                <b>Data di Nascita:</b>
                <input type="date" aria-label="modifica la data di nascita" id="editModalBirth" max="" required>
              </div>
              <div>
                <b>E-mail:</b>
                <input type="email" naria-label="modifica l'email" id="editModalMail" required>
              </div>
              <div>
                <b>Status:</b>
                <select aria-label="modifica lo status" id="editModalStatus" required>
                  <option value=0>Inattivo</option>
                  <option value=1>Noleggiato</option>
                  <option value=2>Ritirato</option>
                  <option value=3>Da Restituire</option>
                </select>
              </div>
              <div>
                <h6 id="editModalFeedback">Feedback:</h6>
                <ul id="editFeedBackList">
                </ul>
                </span>
              </div>
            </section>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" id="editBtn" form="editForm" class="btn btn-primary">Salva
            Modifiche</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Add User Modal -->

  <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addTitle" tabindex="0">Aggingi Utente</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Chiudi"></button>
        </div>
        <div class="modal-body">
          <form id='addForm'>
            <section class="userModal">
              <div>
                <b>Nome: </b>
                <input type="text" name="" required id="addModalName"
                  aria-label="inserisci il nome. solo caratteri alfabetici">
              </div>
              <div>
                <b>Cognome:</b>
                <input type="text" name="" required id="addModalSurname"
                  aria-label="inserisci il cognome. solo caratteri alfabetici">
              </div>
              <div>
                <b>Password:</b>
                <input type="password" name="" required id="addModalPassword" aria-label="inserisci la password">
              </div>
              <div>
                <b>Data di Nascita:</b>
                <input type="date" name="" required id="addModalBirth" max="" aria-label="inserisci la data di nascita">
              </div>
              <div>
                <b>E-mail:</b>
                <input type="email" name="" required id="addModalMail" aria-label="inserisci l'email">
              </div>
              <div>
                <b>Status:</b>
                <select name="" required id="addModalStatus" aria-label="inserisci lo status">
                  <option value=0>Inattivo</option>
                  <option value=1>Noleggiato</option>
                  <option value=2>Ritirato</option>
                  <option value=3>Da Restituire</option>
                </select>
              </div>
            </section>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" id="addBtn" form="addForm" class="btn btn-primary">Aggiungi
            Cliente</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Feedback Modal -->

  <div class="modal fade" id="feedModal" tabindex="-1" aria-labelledby="feedTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="feedTitle" tabindex="0">Feedback sull'Utente</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Chiudi"></button>
        </div>
        <div class="modal-body">
          <section class="userModal">
            <form id="feedForm">
              <label for="feedText">Inserisci il tuo feedback</label>
              <textarea id="feedText" rows="10"></textarea>
            </form>
          </section>
        </div>
        <div class="modal-footer">
          <button type="submit" id="feedSubmit" form="feedForm" class="btn btn-primary">Salva
            FeedBack</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Modal -->

  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteTitle" tabindex="0">Elimina Utente</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Chiudi"></button>
        </div>
        <div class="modal-body">
          <section class="userModal">
            <span tabindex="0">Sei sicuro di voler eliminare l'utente?</span>
          </section>
        </div>
        <div class="modal-footer">
          <button type="button" id="confirmBtn" class="btn btn-primary" data-bs-dismiss="modal">Conferma
          </button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
        </div>
      </div>
    </div>
  </div>

  <script type="module" src="./scripts/users.js"></script>
  <script>
    const stt = "http://fabio.mirza.tw.cs.unibo.it/nnplus/"
    document.getElementById('addModalBirth').setAttribute("max", new Date().toISOString().split("T")[0])
  </script>
</body>

</html>