:root {
  --main-radius: 1rem;
  --main-margin: 0.5rem;
  --button-radius: 2rem;
}

body {
  background-color: rgba(0, 0, 0, 0.822);
  color: rgb(255, 255, 255);
  font-size: medium;
}

.btn {
  border-radius: var(--button-radius);
}

.modal {
  color: black;
}

/* jquery ui elements */

.ui-autocomplete {
  color: black;
  z-index: 5000;
  list-style: none;
  background-color: white;
  border: 2px solid black;
  border-radius: 0.2rem;
  width: 16rem !important;
  max-width: 16rem !important;
  padding-left: 0% !important;
  max-height: 6rem !important;
  overflow: scroll;
  -ms-overflow-style: none; /*hide scrollbar for IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.ui-autocomplete::-webkit-scrollbar {
  display: none;
}

.ui-autocomplete > li:hover {
  color: white;
  background-color: rgb(0, 132, 255);
}

.ui-helper-hidden-accessible {
  display: none;
}

/* main body decoration */
main {
  margin: var(--main-margin);
}

/* pills naviation */

.nav-pills {
  margin-top: 2rem;
  margin-bottom: 0.3rem !important;
}

.main-nav {
  border-radius: var(--button-radius) !important;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.397) !important;
}

/* main and tab containers */

#main-container {
  padding: 1rem;
  background-color: rgba(36, 103, 230, 0.452);
  border-radius: var(--main-radius);
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

/* add tab decoration */

#addTab {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#addForm {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#formElements > div {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 35rem;
  margin-bottom: 0.8rem;
}

/* following is shown after user, item and dates have been inputted */

#bookingPreview {
  margin-top: 1.2rem;
}

#bookingPreview > ul {
  list-style: none;
  padding-left: 0 !important;
  margin-bottom: 0.2rem;
}

#bookingPreview > ul > li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

#bookingPreview > button {
  width: fit-content;
}

#infoContainer {
  margin-bottom: 1rem;
}

#bookingPreview > ul > li:last-child {
  font-weight: 700;
  font-size: large;
  border-bottom: none !important;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

#customDiscount {
  flex-direction: row;
  margin-bottom: 0.5rem;
}

#customDiscount > * {
  height: 2rem;
  margin-right: 0.3rem;
}

#discountReason {
  width: 70%;
}

#discountAmount {
  width: 25%;
}

#pointsContainer {
  margin-bottom: 0.8rem;
}

#noteContainer {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

#addBtn {
  margin-top: 0.5rem;
  height: 3rem;
  width: 100% !important;
  font-size: larger;
}

/* manage tab items */

#manageTab {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#topContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 45rem;
}

#searchBookingForm,
#filterBookingForm {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}

#searchBookingForm > button,
#filterBookingForm > button {
  margin-left: 1rem;
}

.searchFilter > label {
  margin-left: 0.1rem;
  margin-right: 1rem;
}

/* main list decoration */

.bookingContainer {
  padding: 1rem;
  border-radius: var(--main-radius);
  margin: 0.4rem;
  min-height: 70rem;
  background-color: rgba(0, 0, 0, 0.39);
  box-shadow: inset 0 0 10px #000000;
}

#bookingList {
  list-style-type: none;
  padding: 0 !important;
}

.bookingElement {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: rgba(
    0,
    128,
    0,
    0.514
  ); /* HAS TO BE SET PER SINGLE ELEMENT */
  border-radius: var(--main-radius);
  justify-content: space-between;
}

.infoGroup {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.infoGroup > div {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.labelTag {
  font-weight: 600;
}

.buttonGroup {
  display: flex;
  justify-content: flex-start;
  width: 12.5rem;
}

.buttonGroup > button {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.3rem;
}

/* edit modal */

#editForm > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.editDiscounts > ul {
  list-style-type: none;
  padding-right: 1rem;
  padding-left: 1rem !important;
}

.editDiscounts > ul > li {
  display: flex;
  justify-content: space-between;
}

/* receipt modal */

#receiptSection > div {
  display: flex;
  justify-content: space-between;
}

#receiptDates {
  display: flex;
  justify-content: space-around !important;
}

#receiptDates > div {
  display: flex;
  flex-direction: column;
}

/* return modal */

#returnForm > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

#returnForm > div > span {
  margin-bottom: 0.3rem;
}

/* mobile responsive */

@media only screen and (max-width: 768px) {
  .nav-pills {
    flex-direction: column;
    margin-bottom: 1.5rem !important;
  }

  #searchBookingForm {
    display: flex;
    flex-direction: column;
  }

  #searchBookingForm > button {
    margin-top: 0.5rem;
  }

  #filterBookingForm {
    flex-direction: column;
  }

  #filterBookingForm > div {
    margin-bottom: 0.5rem;
  }

  /* single bookign elements decoration */

  .bookingElement {
    flex-direction: column;
  }

  .infoGroup {
    flex-direction: column;
    align-items: center;
  }

  .infoGroup > div {
    display: flex;
    justify-content: center;
  }

  .infoGroup > div > span {
    margin-right: 0.3rem;
  }

  .buttonGroup {
    flex-direction: column;
  }
}
