:root {
  --main-radius: 1rem;
  --main-margin: 0.5rem;
  --button-radius: 2rem;
}

body {
  background-color: rgba(0, 0, 0, 0.822);
  color: white;
  font-size: medium;
}

.btn {
  border-radius: var(--button-radius);
}

.modal {
  color: black;
}

/* width */
::-webkit-scrollbar {
  width: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.425);
  border-radius: 10px;
}

/* jquery ui elements */

.ui-autocomplete {
  color: black;
  z-index: 5000;
  list-style: none;
  background-color: white;
  border: 2px solid black;
  border-radius: 0.2rem;
  width: 16rem !important;
  max-width: 16rem !important;
  padding-left: 0% !important;
  max-height: 6rem !important;
  overflow: scroll;
  -ms-overflow-style: none; /*hide scrollbar for IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.ui-autocomplete::-webkit-scrollbar {
  display: none;
}

.ui-autocomplete > li:hover {
  color: white;
  background-color: rgb(0, 132, 255);
}

.ui-helper-hidden-accessible {
  display: none;
}

/* main body decoration */

main {
  margin: var(--main-margin);
}

#main-container {
  padding: 1rem;
  background-color: rgba(36, 103, 230, 0.452);

  border-radius: var(--main-radius);
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

/* controls and search elements*/

#controls {
  margin: 1rem;
}

#controls > button {
  margin: 0.2rem;
}

#searchContainer {
  margin-bottom: 0.5rem;
}

#searchText {
  border: none;
}
/* filters elements */

#filters {
  padding: 1rem;
  border-radius: var(--main-radius);
  margin: 0.4rem;
  background-color: rgba(0, 0, 0, 0.39);
  box-shadow: inset 0 0 10px #000000;
}

.filter-list {
  margin: 0.3rem;
  padding: 0.5rem;
}

.filter-list > ul {
  list-style: none;
  padding: 0;
  max-height: 6rem;
  overflow-y: scroll;
}

.filter-list > h6 {
  border-bottom: solid rgb(10, 100, 184) 1px;
}

#pricePicker input {
  color: red;
  width: 11rem;
  max-width: 15rem;
}

#pricePicker > div > div {
  display: flex;
  justify-content: space-between;
}

/* items container */

.items-list {
  padding: 1rem;
  border-radius: var(--main-radius);
  margin: 0.4rem;
  min-height: 70rem;
  background-color: rgba(0, 0, 0, 0.39);
  box-shadow: inset 0 0 10px #000000;
}

.item-instance {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 23rem;
}

.item-instance:hover {
  z-index: 20;
  max-height: 100%;
}

/* card elements */

.card {
  background-color: rgba(0, 0, 0, 0.363);
  color: white;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.596),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  height: 100%;
  max-height: fit-content;
  overflow-y: hidden;
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    max-height 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.808),
    0 6px 20px 0 rgba(0, 0, 0, 0.637);
}

.card:hover .info-card {
  display: flex;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.card-img-top {
  object-fit: contain;
  height: 20rem;
  width: inherit;
  background-color: #ffffff;
}

.brand-card {
  font-weight: 250;
}

.ref-card {
  font-weight: 150;
  font-size: medium;
  font-style: normal;
}

.info-card {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.info > span {
  text-align: end;
  max-height: fit-content;
  scrollbar-color: rgba(255, 255, 255, 0.425) rgba(0, 0, 0, 0);
}

.info-card-list {
  list-style: none;
  width: 100%;
  padding: 0;
}

.types-card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-height: fit-content;
}

.types-card > ul {
  list-style: none;
  padding: 0;
}

.types-card li {
  display: flex;
  justify-content: flex-end;
}

.text-container {
  display: flex;
  flex-direction: column;
  max-height: fit-content;
}

.card-buttons {
  display: flex;
  flex-direction: column;
}

.card-buttons button {
  margin-top: 0.5rem;
}
/* add modal */

.modal-elements div {
  margin-bottom: 1rem;
}

.modal-elements div b label {
  margin-bottom: 0rem;
}

.modal-elements div input {
  width: 100%;
  max-width: 25rem;
}

#addDescr,
#addNote,
#addCondition {
  width: 100%;
}

/* discount modal */

#discountList li {
  margin-bottom: 1rem;
}

#discountList input {
  width: 100%;
}

/* tablet/mobile responsive */

@media only screen and (max-width: 768px) {
  #controls {
    display: flex;
    flex-direction: column;
  }

  #searchContainer {
    display: flex;
    flex-direction: column;
  }

  #searchContainer > input {
    margin-bottom: 0.3rem;
  }
}

/* large mobile responsive */

@media only screen and (max-width: 425px) {
  /* single card container */
  .item-instance {
    max-height: 83rem;
  }

  /* card info */
  .info {
    flex-direction: column;
  }

  .info > span {
    text-align: start;
  }

  .types-card {
    align-items: flex-start;
  }

  .types-card li {
    justify-content: flex-start;
  }
}
