body {
  font-size: larger;
}

button {
  border-radius: 0.5rem;
  background-color: white;
}

ul {
  list-style-type: none;
}
.color-coded {
  border-radius: 1rem;
  background-color: #b366ff;
}

.navbar-brand {
  width: 15rem;
  height: 5rem;
}

.logo {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.nav-buttons {
  color: white;
  background-color: #cc99ff;
  font-size: 2rem;
  border-radius: 0.5rem;
}

.user {
  background-color: rgba(4, 211, 4, 0.308);
  height: 4rem;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.7rem;
  margin: 0.5rem;
}

.name,
.status {
  box-shadow: 0 0.1rem 1rem 0 rgba(0, 0, 0, 0.2),
    0 0.1rem 1rem 0 rgba(0, 0, 0, 0.19);
  padding-left: 0.2rem;
  margin-right: 0.5rem;
  border: solid black;
  border-width: 0.1rem;
  border-radius: 0.7rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status {
  width: 15%;
}

.name {
  width: 30%;
}

.option-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 55%;
}

.option-container > * {
  box-shadow: 0 0.1rem 1rem 0 rgba(0, 0, 0, 0.2),
    0 0.1rem 1rem 0 rgba(0, 0, 0, 0.19);

  margin-left: 0.5rem;
}

#filters {
  display: flex;
  justify-content: end;
  width: 100%;
  align-items: center;
}

#filters > * {
  margin: 1rem;
}

i[class*="fas"] {
  color: #7300e6;
}

#addUser {
  border-color: rgb(170, 170, 170);
}

#searchField {
  margin-right: 0.5vw;
  border-radius: 0.5rem;
}

@media screen and (max-width: 992px) {
  #userAddSearch > div {
    width: 100%;
    align-items: center;
    margin-top: 0.3rem;
  }

  #filters {
    flex-direction: column;
  }

  #filters > div {
    height: 0.5rem;
  }

  .user {
    flex-direction: column;
    height: fit-content;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .name,
  .status {
    width: 80%;
    margin: 0.2rem;
  }

  .option-container {
    justify-content: center;
    margin-top: 0.5rem;
  }
}
