:root {
  --main-radius: 1rem;
  --main-margin: 0.5rem;
  --button-radius: 2rem;
}

body {
  background-color: rgba(0, 0, 0, 0.822);
  color: white;
  font-size: medium;
}

.btn {
  border-radius: var(--button-radius);
}

.modal {
  color: black;
}

/* nav elements */

nav {
  background-color: rgb(34, 99, 196);
  border-radius: var(--main-radius);
  margin: var(--main-margin);
}

#nav-container {
  margin: 1rem;
}

.logo {
  height: 3rem;
}

#nav-container > a {
  margin-right: 2rem;
}

.link {
  margin-left: 2rem;
  color: white;
  text-decoration: none;
  background-color: rgb(42, 126, 252);
  padding: 0.5rem;
  border-radius: var(--main-radius);
  transition: color 500ms;
}

.link:hover {
  color: black;
  transition: color 500ms;
}

.link.active-nav {
  background-color: rgb(84, 148, 243);
}

/* main body decoration */

main {
  margin: var(--main-margin);
}

#main-container {
  padding: 1rem;
  background-color: rgba(36, 103, 230, 0.452);

  border-radius: var(--main-radius);
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

@media only screen and (max-width: 1024px) {
  #main-container {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
  }
}

@media only screen and (max-width: 767px) {
  /* nav elements */

  .nav-item {
    display: flex;
    justify-content: center;
    margin-top: 0.7rem;
  }
  .link {
    margin-left: 0;
  }
}
