img {
    height: 10rem;
    width: 12rem;
    object-fit:cover;
    
}

.form-title {
    color: white;
}

.item-type {
    background-color: rgba(212, 224, 245, 2);
}

.item-description {
    font-weight: bold;
}

.priceHigh {
    font-weight: 700;
    font-size:3rem;
}
.priceLow {
    padding-top: 1rem;
    padding-left: 0.7rem;
}