img {
    height: 100%;
    width: 100%;
    object-fit:cover;
    
}

.form-title {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

.item-type {
    background-color: rgba(212, 224, 245, 2);
    
}

.item-description {
    font-weight: bold;
}

.price-high {
    font-weight: 700;
    font-size:3rem;
}
.price-low-container {
    font-weight: bold;
    padding-top: 1rem;
    padding-left: 0.5rem;
}

.total-price {
    border-style: solid;
    border-width: 0.2vw;
    border-color:orange;
    background-color: rgba(255, 166, 0, 0.822);
    border-radius: 0.5vw;
}